
.game-body {
    position: relative;
    border: 1px solid rgba(0, 128, 0, .8);
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(94, 89, 89);
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: 90vh;
    display: flex;
    background-color: rgba(0, 128, 0, .8);
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.game-display {
    flex: 1;
    z-index: 999;



}
.game-control {
    z-index: 1;
}

.overlay {
    position: absolute;
    top: -100px;
    left: -50px;
    z-index:0;
    height: 400px;
    width: 150%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    transform: rotate(45deg);
}

input {
    padding: 5px 10px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px rgb(10, 10, 10);
    margin: 5px;
    border-radius: 25px;
    background-color: inherit;
    text-transform: uppercase;
    font-size: 15px;
}
input:focus {
    border: 1px solid rgb(8, 255, 8);
    outline:0;
    box-shadow: 0px 0px 5px rgb(9, 255, 0);
}
button{
    padding: 5px 10px; 
    cursor: pointer;
    text-transform:capitalize ;
    font-size: 14px;

}
button:hover {
    opacity: .8;
}

#system{
    margin: 10px;
    padding: 10;
    /* border: 1px solid; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    opacity: 0;
}
#system div {
    width: 300px;
    /* border: 1px solid white; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    margin: 0 10px;
}






@media screen and (max-width:420px) {
    .container{
        width: 95%;
        margin: 0 auto;
        /* border: 1px solid red; */
        box-shadow: 0px 0px 5px gray;
        background-color: rgba(255, 255, 255, .2);
        border-radius: 5px;
        padding: 5px 0;
        /* background-image: url('/image/pic6.jpeg'); */
        
    }

    body {
        background-image: url('../image/pic6.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .game-body {
        position: relative;
        border: 1px solid rgba(0, 128, 0, .8);
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgb(94, 89, 89);
        padding: 10px;
        margin: 10px;
        text-align: center;
        height: 90vh;
        display: flex;
        background-color: rgba(0, 128, 0, .8);
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .game-display {
        flex: 1;
        z-index: 999;



    }
    .game-control {
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .overlay {
        position: absolute;
        top: -100px;
        left: -50px;
        z-index:0;
        height: 400px;
        width: 150%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .8);
        transform: rotate(45deg);
    }

    input {
        padding: 5px;
        text-align: center;
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 2px white;
        margin: 5px;
        border-radius: 25px;
        background-color: inherit;
    }
    input:focus {
        border: 1px solid tomato;
        outline:0;
        box-shadow: 0px 0px 5px tomato;
    }
    button{
        padding: 5px;
        cursor: pointer;
        text-transform:capitalize ;

    }
    button:hover {
        opacity: .8;
    }

}

@media (min-width: 420px) and (max-width:570px) {
    
    body {
        background-image: url('../image/pic6.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
    .game-body {
        padding: 10px;
        text-align: center;
    }
}

@media (min-width:570px) {

    body {
        background-image: url('../image/pic6.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        width: 570px;
        margin: 0 auto;
        box-shadow: 0px 0px 5px black;
        padding: 1px 0;
        border-radius: 15px;
    }
    .game-body {
        position: relative;
        /* border: 1px solid red; */
        /* border-radius: 10px; */
        box-shadow: 0px 0px 3px rgb(94, 89, 89);
        /* padding: 10px; */
        margin: 15px;
        text-align: center;
        height: 90vh;
        display: flex;
        background-color: rgba(0, 128, 0, .8);
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .game-display {
        flex: 1;
        z-index: 999;
    
    
    
    }
    .game-control {
        z-index: 1;
        /* border: 1px solid ; */
        border-radius: 10px;
        background-color: rgba( 255,255, 255, .2);
        padding: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .8);
    }
    
    .overlay {
        position: absolute;
        top: -100px;
        left: -50px;
        z-index:0;
        height: 400px;
        width: 150%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .8);
        transform: rotate(45deg);
    }
    
    .name-input-div {
        position: relative;
        /* border: 1px solid; */
    }
    
    .name-input-div span{
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        padding:2px;
        border-radius: 50%;
        width:20px;
        height: 20px;
    }

    .fa-user-circle{
        font-size: 20px;
    }

    
}